.service-card {
  border: .1vw solid #ccc;
  border-radius: .55vw;
  padding: 2vw;
  margin-bottom: 2vw;
  transition: transform 0.3s ease;
  width: 40vw;
}

.service-card-t {
  border: .1vw solid #ccc;
  border-radius: .5vw;
  padding: 2vw;

  margin-bottom: 2vw;
  margin-top: 2vw;
  transition: transform 0.3s ease;
  width: 80vw;
}

.sct {
  display: flex;

}
.service-card h2 {
  margin-bottom: 1vw;
}

.service-card p {
  margin-bottom: 1.5vw;
}
.scrow {
  display: flex;
}
